<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>

    <!--Style-->
    <link rel="stylesheet" href="css/style.css">

    <!--Axios-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js'
        integrity='sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=='
        crossorigin='anonymous'></script>

    <!--Vue 3-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!--JavaScript-->
    <script defer src="js/vuemail.js"></script>

</head>

<body>
    <div id="root">
        <ul v-if="emails.length >= 10">
            <li v-for="(email, i) in emails" :key="i">{{email}}</li>
        </ul>
    </div>

</body>

</html>